<html>
<head>
    <title>Payment Processing</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'PSS/paymentstyle.css' %}" />
</head>
<body>
    <div class="form-container">
        <p style="margin-bottom:30px; font-size: 25px; font-weight:bold;">{{user.username}}'s Checking Out Form</p>
        <p style="margin-bottom:30px; font-size: 20px;">Total Amount: {{amount}} AUD</p>
        <hr style="height:2px; border-width:0;color:#8c8c8c;background-color:#8c8c8c;">
        <form style="font-size:20px;" action="{% url 'PSS:charge' %}" method="post" id="payment-form">
            {% csrf_token %}
            <p style="margin-bottom:20px; margin-top:30px;">
                Insert your card information:
            </p>
            <div style="margin-bottom:30px;" id="card-element">
            </div>
            <div id="card-errors" role="alert"></div>
            <input type="hidden" id="username" name="username" value="{{user.username}}">
            <input type="hidden" id="amount" name="amount" value="{{amount}}">
            <input type="submit" style="margin-bottom: 15px;position: relative;left:50%;transform: translate(-50%);background-color:#66ff66;font-size:20px;" value="Submit Payment">
        </form>
        <button style="font-size:20px; background-color:#cccccc;position: relative;left:50%;transform: translate(-50%);" onclick="window.location.href='{% url 'PSS:home'%}'">Go back to Homepage</button>
    </div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    // Create a Stripe client.
var stripe = Stripe('pk_test_51HURfzLvS1Gw3tPuSbRwh4qYko818i23mFYww4HMkL4Mh4X5sKdahVfHVESrklU2r3fdBJJ3j7BqSpi5DxCAtHS7002es0gBp2');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '20px',
    '::placeholder': {
      color: '#8c8c8c'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
</script>
</body>
</html>